/* - Variables - */

:root {
    --primary-clr: #c3d589;
    --second-clr: #24c7dd;
    --second-clr-alt: #669E9F;
    --gray-clr: #12d9e3;
    --sun-clr: #F44A26;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: url('../assets/ajay.jpg') center/cover no-repeat fixed;
    filter: blur(5px); /* Apply the blur effect */
    z-index: -1; /* Send the overlay to the background */
}

.top-container {
    position: relative;
    z-index: 1; /* Keep the content above the blurred background */
}


/* - Base - */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--primary-clr);
    color: var(--second-clr);
}

/* -- Main -- */
.main {
    margin-bottom: .05rem;
}
@media screen and (min-width: 768px){
    .main {
        margin-top: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .main {
        margin-top: 5rem;
    }
}
.top-container {
    margin-left: .8rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media screen and (min-width: 768px){
    .top-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
.title {
    font-size: 2.2rem;
    max-width: 15rem;
}
@media screen and (min-width: 1024px){
    .title {
        font-size: 3rem;
        max-width: 19rem;
    }
    .app-function-container {
        margin-right: 5rem;
    }
}
.app-function-container span {
    font-weight: 300;
    font-size: 1.1rem;
}
.day-left-to-hide-desktop {
    margin-left: .8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.3rem;
}
@media screen and (min-width: 768px){
    .day-left-to-hide-desktop {
        display: none;
    }
}
.day-left-to-hide-desktop .day {
    font-size: 5rem;
}
.day-left-to-hide-desktop .day::after {
    content: "Days left";
    font-size: .9rem;
    font-weight: 300;
    padding-left: .3rem;
    color: var(--second-clr);
}

.svg-img {
    width: 350px;
    height: auto;
    transform: translateX(10px);
}
@media screen and (min-width: 1024px){
    .svg-img {
        width: 400px;
    }
}

.counters-container {
    margin-left: .8rem;
    display: flex;
    align-items: center;
    margin-top: .2rem;
}
.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
@media screen and (min-width: 768px){
    .counters-container {
        justify-content: center;
        margin-top: 8rem;
    }
    .counter-container {
        margin-right: 6rem;
    }
    .counter-container:last-child {
        margin-right: 0;
    }
}
.number {
    font-size: 1.5rem;
}
@media screen and (min-width: 768px){
    .number {
        font-size: 1.9rem;
    }
}

.number-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    letter-spacing: .01rem;
}
@media screen and (min-width: 1024px){
    .number {
        font-size: 3rem;
    }
}
.hide-on-phone {
    display: none;
}
 #map-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 200px; /* Adjust the height as needed */
        border: 0;
    }

@media screen and (min-width: 768px){
    .hide-on-phone {
        display: flex;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow: hidden; /* Prevent body overflow, so the blurred background does not show outside the viewport */
    }
}
